<section class="hero is-fullheight has-text-centered has-background-white-ter" id="about">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                    <figure class="image">
                        <img class="is-rounded" src="{{site.author-image}}" alt="{{site.author-name}}">
<!--                        <img src="{{site.author-image}}" alt="{{site.author-name}}">-->
                    </figure>
                </div>
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">


                    <b>Research interest</b><br>
                    Artificial intelligence in computer vision<br>
                    <i>I aim for recognition systems that can be run in a real world environment.</i><br>
                    <span>&#183;</span> Synthesized segmentation dataset for data hungry problem<br>
                    <span>&#183;</span> Object detection/segmentation/tracking <a href="https://youtu.be/WfX563ndox0" target="_blank"><b>[Video]</b></a><br>
                    <span>&#183;</span> Efficient neural network modeling<br>
                    <br>
                    <b>Education</b><br>
                    <span>&#183;</span> Ph.D. in Electrical Engineering (Adviser: Prof. Hyun Myung) / KAIST / Feb. 2017 - Present<br>
                    <span>&#183;</span> M.S. in Civil and Environmental Engineering (Adviser: Prof. Hyun Myung) / KAIST / Feb. 2015 - Feb. 2017<br>
                    <span>&#183;</span> B.S. in Electronic Engineering / Kyung Hee Univ. / Mar. 2009 - Feb. 2015<br>
                    <br>
                    <b>Experience</b><br>
                    <span>&#183;</span> [WORK]<a href="https://www.seadronix.com/" target="_blank">Seadronix Corp.</a>/ AI advisor / Mar. 2020 - Present <br>
                    <span>&#183;</span> [WORK]<a href="https://www.seadronix.com/" target="_blank">Seadronix Corp.</a>/ Team leader / Mar. 2020 - Feb. 2021<a href="https://www.ulsanpress.net/news/articleView.html?idxno=345020" target="_blank"><b>[Article]</b></a> <br>
                    <span>&#183;</span> [PRESENTATION] 1st Samsung AI forum / Poster session / Oct. 2017<a href="https://youtu.be/XoUrnQE3PcY" target="_blank"><b>[Video]</b></a> <br>
                    <span>&#183;</span> [TEACHING] Intelligent robot experiment(RE510, KAIST) / General assistant / Mar. 2016 - June 2018<br>
                    <span>&#183;</span> [CHALLENGE] DJI Developer Challenge / Finalist / Feb. 2015 - Feb. 2017<a href="https://youtu.be/W1y--cfUjOs?t=502" target="_blank"><b>[Video]</b></a> <br>
                    <span>&#183;</span> [WORK] KRISO (Korea Research Institute of Ships & Ocean Engineering) / Research intern / June 2015 - July 2015<br>
                    <br>
                    <b>Awards</b><br>
                    <span>&#183;</span> ICROS Best paper / ICROS(Institute of Control, Robotics and Systems, Korea) / May 2015<br>
                    <span>&#183;</span> Best graduation work prize (졸업 논문 최우수상) / Kyung Hee Univ. / Sep. 2014<br>
                    <span>&#183;</span> Freescale special prize (Freescale 특별상) / Hanyang Univ. / July 2013<br>
                    <span>&#183;</span> Robot demo excellence award (로봇 데모 우수상) / KROS (Korea Robotics Society) / May 2013<br>
                    <span>&#183;</span> Explorer robot competition, Prime minister prize (탐사로봇대회, <b>국무총리상</b>) / Government of the Republic of Korea / Oct. 2012<br>
                    <br>
                    <br>


<!--                    <p>{{site.author-about}}</p>-->
<!--                    <p style="font-size:1.2em;">{{site.author-about}}</p>-->

                    <br>
                    <div class="container columns is-centered">
                        <div>
<!--                            <a href="{{site.url}}{{site.baseurl}}/#contact"-->
                            <!--                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Contact-->
                            <!--                                Me</a>-->
                            <!--                            </a>-->
                            <a href="../assets/files/JungmoKoo_CV+PF.pdf" download
                               class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Download my CV</a>
                            </a>
                        </div>
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/blog"
                               class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Blog</a>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>